<li id = "items"><%= item.name %>

<%= distance_of_time_in_words(Time.now, Time.now + 7.days) %>
<%= link_to "", user_item_path(@user, item), method: :delete, data: { confirm: "Are you sure?" }, remote: true, class: 'glyphicon glyphicon-ok' %>


</li>
